/* General */
body {
  margin: 0 auto;
	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 13px;
  color: #333;
  background: #EBF6FC;
  background: -moz-linear-gradient(top, #ebf6fc 0%, #b3e0f7 100%);
  background: -webkit-linear-gradient(top, #EBF6FC 0%,#B3E0F7 100%);
  background: -o-linear-gradient(top, #ebf6fc 0%,#b3e0f7 100%);
  background: linear-gradient(to bottom, #EBF6FC 0%,#B3E0F7 100%);
  background-repeat: repeat-x;
}

@media (max-width: 767px) {
  body {
    word-wrap: break-word;
  }
}

ul {
  margin: 1em 0;
  padding-left: 40px;
}

a {
  color: #0073A8;
  text-decoration: none;
}

p {
  margin: 1em 0;
}

a:hover,
.breadcrumbs li a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  padding: 0.83em 0;
}

h2 {
  font-size: 1.5em;
  padding: 0.67em 0;
}

h3 {
  font-size: 1.2em;
}

table, td, th, tr {
  padding: .5em;
  border: 0;
  text-align: left;
}

table {
  border-bottom: 1px solid #D5D5D5;
}

thead th,
body .docsTable th {
  background: white;
  border: 0;
  border-bottom: 2px solid #999;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: normal;
}

.btn-inverse {
  color: #FFF;
  background-color: #363636;
  border-color: #222;
}

.btn-inverse:hover {
  color: #FFF;
  background-color: #222;
}

.container .container {
  width: auto;
}
@media (max-width: 1199px) {
  .container {
    width: auto;
  }
}

.layout {
  background: url("../images/bg_dashes.png");
}

#login_form,
#mail_password,
#the-filters,
#the-chart,
.legend-share,
.boardConversation,
.template-conversation_browserview fieldset {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.fieldRequired {
  background: url(../../portal_skins/plone_images/required.png) center left no-repeat;
  color: rgba(255, 255, 255, 0);
}


/* Header */
#header {
  padding-top: 5px;
  background: #FFF;
}

.logo {
  width: 194px;
  border: 0px;
  padding-left: 22px;
  padding-top: 0px;
}

.portal-title {
  position: absolute;
  top: 45px;
  margin: 0;
  margin-left: 215px;
  border: 0;
  font-size: 22px;
  line-height: 1.2;
  color: #0065A2;
  text-transform: uppercase;
}

.portal-subtitle {
  color: #FFF;
  font-size: 15px;
  margin: 0 auto;
  padding: 6px 0px 0px 230px;
}

.navbar-header {
  float: none;
}

.subtitle-backgr {
  background-color: #0065A2;
  min-height: 45px;
  margin-top: -30px;
}

.path {
  background: #074A8B;
}

.navbar-toggle {
  background: #FFF;
  border: 1px solid #0065A2;
  margin-right: 0;
  margin-top: 25px;
}

.navbar-collapse {
  padding: 0;
  border-top: 0;
}

.navbar-toggle .icon-bar {
  background: #0065A2;
}

.breadcrumbs {
  margin: 0;
  padding-left: 22px;
}

.breadcrumbs li {
  list-style-type: none;
  background: url("../images/breadcrumb.gif") rgba(0, 0, 0, 0) left center no-repeat;
  padding: 0px 5px 0px 15px;
  display: inline-block;
  font-size: 11px;
  color: #FFF;
}

.breadcrumbs li.first {
  background-image: none;
  padding-left: 0;
}

.breadcrumbs li a {
  color: #FFF;
  text-decoration: none;
}


/* Footer */
#footer {
  margin-top: 15px;
  background: #E5E5E5;
  border-top: 4px solid #CDCDCD;
}

#footer .row {
  margin-right: 0;
  margin-left: 0;
}

#copyright {
  background: #E5E5E5;
  color: #808080;
}

#footer ul {
  padding-left: 0;
}

#footer ul li {
  list-style: none;
  float: left;
  margin-right: 12px;
}

#footer ul li a {
  color: #808080;
}


/* Login page */
#login_form,
#mail_password {
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  width: 300px;
}

#login_form label {
  display: inline-block;
  width: 100px;
  text-align: left;
  font-weight: normal;
}

#login_form .formControls {
  margin-left: 0;
  margin-bottom: 5px;
}

#__ac_name,
#__ac_password {
  width: 150px;
}

#login-forgotten-password {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
}


/* Configure Visualization page */
.template-daviz-edit-html .portalMessage,
.daviz-settings ul.formTabs,
.editor-box h4 {
  display: none;
}

.daviz-edit-tabs .panes {
  border: none;
  padding: 0.5em;
}

.editor-steps {
  border-right: 0px;
  width: 220px;
  float: left;
}

.editor-steps ul {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  list-style: none;
}

.editor-steps li a {
  color: #074A8B;
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #E5E5E5;
}

.editor-steps li a:visited,
.editor-steps li a:hover {
  color: #074A8B;
  text-decoration: none;
}

.editor-steps li.current a,
.editor-steps li a:hover {
  background-color: #074A8B;
  color: #FFF;
}

.editor-steps .glyphicon-chevron-right {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("glyphicons-halflings.png");
  background-position: -456px -72px;
  background-repeat: no-repeat;
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  color: #999;
}

.editor-box h4,
.editor-current-step,
.daviz-view-form {
  margin-left: 240px;
}

.editor-current-step {
  overflow: hidden;
  background: #FFF;
  margin-bottom: 10px;
  padding: 20px;
  width: 79%;
  min-height: 333px;
}

.editor-current-step label {
  font-weight: normal;
}

.editor-charttype .chart-type-container {
  overflow: hidden;
}

.editor-charttype label.chart-type {
  display: inline-block;
  width: 192px;
  height: 192px;
  border: 1px solid #DDD;
  margin: 13px;
  padding: 18px 5px 5px 14px;
  float: left;
}

.editor-charttype .lines {
  background: #FFF url(../images/line.png) no-repeat 25px 55px;
}

.editor-charttype .columns {
  background: #FFF url(../images/column.png) no-repeat 25px 50px;
}

.editor-charttype .scatter {
  background: #FFF url(../images/scatter.png) no-repeat 23px 65px;
}

.editor-charttype .bubbles {
  background: #FFF url(../images/bubbles.png) no-repeat 23px 65px;
}

.editor-charttype .map {
  background: #FFF url(../images/map.png) no-repeat 25px 50px;
}

.daviz-settings .action-buttons {
  display: inline-block;
}

.editor-current-step label {
  font-size: 12px;
  color: #555;
  margin: 5px 0 2px 0;
  line-height: 16px;
  vertical-align: middle;
}

.editor-structure-multiple-series label,
.editor-structure-categories-by label {
  min-width: 169px;
}

.daviz-views-edit ul {
  margin-left: 5px;
}

.editor-current-step select,
.editor-facet-field input[type="text"] {
  width: 297px;
  height: 25px;
  font-size: 12px;
  color: #000;
  margin: 0 0 2px 0;
  vertical-align: middle;
}

.editor-current-step .checkbox,
.editor-current-step .checkbox label {
  padding-left: 0;
}

.editor-facet-field textarea,
.editor-facet-field div.select2-container {
  width: 100%;
}

.editor-current-step .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.editor-facet-field label,
.editor-annotations label {
  display: block;
}

#daviz-views-edit fieldset {
  margin-bottom: 20px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.editor-axes legend,
.editor-facet-name {
  width: auto;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
}

.no-float {
  float: none;
}

button[name="add-title-part"] {
  display: block;
  clear: both;
}

.editor-current-step label.title-preview-label {
  margin-top: 20px;
  display: block;
}

.title-preview-box {
  border: 1px dashed #CCC;
  padding: 3px 10px;
  margin: 5px 0 10px;
  font-style: italic;
}

/* make editor-facets look like fieldsets */
.editor-current-step .editor-facets {
  padding: 0 1em 1em;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-bottom: 36px;
}

.editor-facet-name {
  margin-top: -16px;
  background: #FFF;
  display: inline-block;
}

.well-small {
  padding: 9px;
  margin-top: 10px;
}

.editor-axes input[type="text"] {
  height: 25px;
}

.editor-current-step input[type="text"],
.editor-current-step select,
.editor-current-step textarea {
  font-size: 12px;
}

.editor-series ul,
.editor-annotations ul {
  padding-left: 0;
  list-style-type: none;
}

.editor-format h5 {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.editor-annotations textarea {
  min-height: 100px;
  width: 100%;
}

.definitions-title {
  width: 100%;
}

.editor-advanced textarea {
  min-height: 300px;
  margin-bottom: 20px;
}

.daviz-view-form button {
/* Bootstrap button style for a non-editable button */
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #333;
  background-color: #FFF;
  border:1px solid  #CCC;
}

.daviz-view-form button:hover {
  color: #333;
  background-color: #E6E6E6;
  border-color: #ADADAD;
}

.template-daviz-edit-html .collapse {
  position: initial; /* override from daviz-edit.css */
}


/* Visualization */
.daviz-tab-view {
  background: transparent;
}

#the-chart {
  min-height: 50px;
  margin-bottom: 15px;
  overflow-x: auto;
}
@media (max-width: 1199px) {
  #the-chart {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
  }
}

/* Visualization filters */
#the-filters {
  min-height: 50px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  background: #E6F5FD;
  border: 3px solid #FFF;
}

.bottom-left {
  float: left;
  display: inline-block;
}

.bottom-right {
  float: right !important;
  display: inline-block;
}

.col-md-6 select,
.bottom-left select,
.bottom-right select {
  width: 320px;
}

#the-filters label {
  display: inline-block;
  width: 140px;
  color: #555;
  margin-bottom: 2px;
  vertical-align: top;
  font-weight: normal;
}

#the-filters .chart-controls {
  margin-bottom: 10px;
}

#the-filters .chart-controls label {
  width: 235px;
  vertical-align: middle;
}

body .select2-container,
body #the-filters select,
body .select2-container-multi .select2-choices .select2-search-field input,
body .select2-drop.select2-drop-multi.select2-drop-active {
  font-family: 'Segoe UI', Verdana, Arial, sans-serif !important;
}

#ref-area-add-all,
#ref-area-clear {
  margin-top: 10px;
}

.chart-filter .select2-container {
  width: 80%;
}

/* Chart listing */
.white-area {
  overflow: auto;
  background: #FFF;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.white-area:after {
  content: '';
  display: block;
  clear: both;
}
.rounded-top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.rounded-bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: solid #3082B3;
}
@media (max-width: 767px) {
  .rounded-top,
  .rounded-bottom {
    border-radius: 0;
  }
}
.use-top-padding {
  padding-top: 15px;
}
.use-bottom-padding {
  padding-bottom: 15px;
}
.no-top-bottom {
  border-top: solid #3082b3;
  border-bottom: 0;
}
.scoreboard-listing p {
  margin-bottom: 0;
}
.scoreboard-listing p + p{
  margin-bottom: 1em;
}
.scoreboard-listing .scoreboard-visualizations-listing tr {
  border-bottom: 1px dotted #ddd;
}
.scoreboard-listing .scoreboard-visualizations-listing tr:last-child {
  border-bottom: 0;
}
.scoreboard-listing .thumbnail-area a {
  display: block;
  overflow: hidden;
  height: 7em;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}
.scoreboard-listing .thumbnail-area a:hover,
.scoreboard-listing .thumbnail-area a:focus {
  border-color: #3999c5;
}
.scoreboard-listing img {
  height: 100%;
  max-height: 100%;
  width: auto;
  max-width: none;
}

/* Visualization legend and share */
.legend-share {
  margin-top: 5px;
  max-width: 1140px;
  background-color: #F4F7FB;
  border: 3px solid #FFF;
}

.legend,
.section.share {
  padding: 20px;
}

.section.share ul,
.share dl {
  padding: 0;
  margin: 0;
}

.section.share ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.share .comment {
  margin-top: 0;
}

.share a {
  width: 96%;
}

.addthis_toolbox a {
  margin-bottom: 3px;
  width: 36px;
}

.btn-print {
  color: #FFF;
  background-color: #449D44;
  border-color: #398439;
  text-shadow: none;
}

.btn-print:hover {
  color: #FFF;
  background-color: #2A862A;
  border-color: #0A710A;
}

.btn-export,
.btn-view-viz {
  color: #FFF;
  background-color: #0065A2;
  border-color: #02578B;
  text-shadow: none;
}

.btn-export:hover,
.btn-view-viz:hover {
  color: #FFF;
  background-color: #065A8C;
  border-color: #064267;
}

.btn-comments {
  color: #333;
  background-color: #BEE0F0;
  border-color: #99C1D2;
  text-shadow: none;
}

.btn-comments:hover {
  color: #333;
  background-color: #94C5DB;
  border-color: #7CA8BB;
}


/* Visualization scenario navigation */
.navigation-widget {
  clear: both;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 10px;
}

.navigation-widget .container {
  max-width: 1140px;
}

.navigation-widget h4 {
  margin-bottom: 5px;
}

.ui-sortable-helper {
  transform: scale(.5);
  background-color: #fff2d1!important;
}

.dataset-box {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.dataset-box a {
  display: block;
  overflow: hidden;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  border: 3px solid #fff;
  box-shadow: 0 1px 3px;
  cursor: pointer;
}
.dataset-box.selected a {
  border-color: #0065a2;
  box-shadow: none;
}
.dataset-box a:hover,
.dataset-box a:focus {
  background-color: #C4E2F0;
}
.dataset-box label {
  display: block;
  height: 4.2em;
  overflow: hidden;
  margin-top: 5px;
  color: #333;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4;
}
.navigation_icon,
.scenario_icon {
  height: 85px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .dataset-box {
    width: auto;
    float: none;
  }
  .dataset-box a {
    text-align: left;
  }
  .dataset-box img {
    float: left;
    margin-right: 5px;
  }
  .dataset-box label {
    font-size: inherit;
    height: auto;
  }
}


/* Loading effects */
.loading-small {
  background: url(../images/loading-bar.gif) no-repeat;
  background-position: center 0;
}

/* Dataset page */
#dataset-metadata {
  padding: 1.4em;
  background-color: #E1F0F7;
  border-radius: 5px;
}

#dataset-metadata dd {
  margin-left: 40px;
}

#dataset-metadata dt {
  text-transform: capitalize;
}

#dataset-metadata dt:after {
  content: ":";
}

table .label {
  display: table-cell;
}

#dataset-dimensions,
#dataset-attributes,
#dataset-measures {
  width: 100%;
}

.template-datacube-view-html .label {
  padding: 4px 8px;
  color: #333;
  text-align: left;
  line-height: 1.4;
}

.template-datacube-view-html ul {
  list-style-type: disc;
}


/* composite chart/sliders */
#the-filters .right-label {
  float: right;
}

.chart-filter {
  margin-top: 5px;
}

.composite-sliders {
  margin: 10px 0 0 0;
}

.composite-slider {
  width: 60%;
  float: left;
}

.normalized-value {
  float: right;
  width: 10%;
}

.composite-slider-widget {
  height: 30px;
}

.slider-label {
  float: left;
  font-size: 11px;
}

#the-filters .slider-step {
  position: absolute;
  width: 20px;
  margin-left: -10px;
  text-align: center;
  margin-top: 15px;
  font-size: 8px;
}


/* Datasets and documentation */
table.container {
  width: auto;
}

.list_indicators .even {
  background: #D7E9F8;
  background: rgba(215, 233, 248, 0.5);
}

.template-datacube-view-html h2 {
  margin-top: 25px;
  margin-bottom: 0px;
  color: #616161;
}

.template-datacube-view-html h2:first-of-type {
  margin-top: 0.67em;
}

.template-datacube-view-html table tr:nth-of-type(2n),
body .docsTable tr:nth-of-type(2n),
.list_indicators tr:nth-of-type(2n) {
  background: #EEE;
}

body .list_indicators .groupName {
  border: 0px;
  text-align: center;
  background: #FFF;
}

.list_indicators .groupName td {
  padding: 15px 0px;
  font-weight: bold;
  font-size: 16px;
}

#dataset-navigation h2 {
  margin: 0.67em 0;
  color: #000;
}

body .docsTable .odd {
  background: transparent;
  width: 25%;
}

body .docsTable .even {
  background: transparent;
  width: 50%;
}

body .docsTable td {
  border: 0;
}

.template-documentation h1 {
  text-align: left;
}

.docsTable {
  margin: 20px 0;
}

.docsTable .icon-pdf,
.docsTable .icon-doc,
.docsTable .icon-xls {
  background-position: 0px 0px;
  padding-left: 23px;
}

.docsTable .icon-pdf {
  background: url(../images/pdf.png) no-repeat;
}

.docsTable .icon-doc {
  background: url(../images/doc.png) no-repeat;
}

.docsTable .icon-xls {
  background: url(../images/xls.png) no-repeat;
}

.docsTable .icon-txt {
  background: url(../images/link_icon.gif) no-repeat;
  background-position: 0px 4px;
  padding-left: 23px;
}


/* Administration pages */
.board-edit-form >.field,
.board-comment-buttons {
  padding: 10px;
}

#extended_title,
.board-edit-form #description {
  width: 98%;
}

button[title="close"] {
  padding: 0;
}

button[title="close"] .ui-button-text {
  display: none;
}

.ui-dialog .ui-dialog-title {
  width: 86%;
}

.ui-widget-content {
  border: 0;
}

.ui-dialog-buttonset .btn-inverse {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
}

.ui-dialog-buttonset .btn-inverse:hover {
  background: #C9302C;
  border-color: #AC2925;
}

.enableUnloadProtection span.label,
label[for="form.stripped_combinations.0.tags"],
label[for="form.stripped_combinations.0.attributes"],
div.label {
  color: #333;
}

#content-core li.formTab a {
  padding: 5px 15px;
  font-weight: normal;
}

#content-core li.formTab a.selected {
  color: #555;
  cursor: default;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
}

#content-core li.formTab a:hover {
  color: #555;
  border-radius: 4px 4px 0 0;
}

#users_add,
.label-select-file-upload {
  margin-bottom: 10px;
}

.label-select-file-upload {
  display: block;
}

.select-file-upload {
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 398px;
}

#users_search .context {
  margin-top: 10px;
}

body.template-usergroup-userprefs table.listing th {
  border: 1px solid #FFF;
}

.btn-import-xls,
.btn-export-xls {
  margin-right: 10px;
}


/* forum */
.boardConversation,
.template-conversation_browserview fieldset {
  margin-bottom: 10px;
}

.template-conversation_browserview legend {
  padding-top: 35px;
}


/* custom code for various components */
.nav > li > a:hover {
  text-decoration: none;
  background-color: #FFF;
}

ul.formTabs,
ul.formTabs {
  display: block;
  border-width: 0;
  border-bottom: 1px solid #DDD;
  margin-left: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
}

li.formTab,
li.formTab {
  display: inline;
  margin-right:0.25em;
}

#content-views a,
li.formTab a,
li.formTab a {
  display: inline-block;
}

#content-views a,
li.formTab a,
li.formTab a {
  line-height: 2em;
  padding: 0 0.75em;
  text-decoration: none;
  border: none;
  margin: 0 ;
}

#content-views li.selected a,
li.formTab a.selected,
li.formTab a.selected {
  font-weight: bold;
}

#content-views li.selected a,
#content-views li a:hover,
li.formTab a.selected,
li.formTab a:hover,
li.formTab a.selected,
li.formTab a:hover {
  background: White;
  color: Black;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
}

li.formTab a.notify,
li.formTab a.notify {
  background-color: red;
  color: White;
}

li.formTab a.required span:after,
li.formTab a.required span:after,
div.field span.required:after {
  content: "■";
  color: Red;
  padding-left: 0.2em;
}

.chart-tabs {
  display: none;
}

.daviz-views {
  width: auto;
  float: none;
  padding-top: 0;
  overflow: visible;
}

.actionMenuContent {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
}

.actionMenuContent ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actionMenuContent ul li {
  display: inline;
  margin-left: 1em;
}

.visualClear {
  clear: both;
}


/* mobile */
@media (max-width: 1024px) {
  .editor-current-step {
    width: 76%;
    margin-left: 233px;
  }

  .editor-current-step select {
    width: 240px;
  }

  .navigation-widget .container {
    width: 935px;
  }
}

@media (min-width: 1024px) {
  .navbar-collapse {
    margin-top: -5px;
  }
}

@media (max-width: 800px) {
  .navigation-widget .container {
    max-width: 720px;
  }

  .path {
    background: #FFF;
  }

  .breadcrumbs li a {
    color: #0073A8;
  }

  .breadcrumbs {
    padding-left: 0;
  }

  .breadcrumbs li,
  .breadcrumbs li.first {
    display: block;
    background-image: none;
    padding: 10px 10px 10px 28px;
    min-height: 30px;
    border-bottom: 1px solid #ACC4D1;
  }

  .breadcrumbs li a:hover {
    text-decoration: underline;
  }

  .breadcrumbs li:last-of-type {
    background: #D0E0F0;
    color: #252525;
  }

  .navbar-collapse .container {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .logo {
    padding-left: 0;
    width: 86px;
  }

  .portal-title {
    margin-left: 95px;
    width: 315px;
    top: 5px;
    padding: 0.83em 0 0;
  }

  .portal-subtitle {
    padding-left: 110px;
  }

  .thumbnail-area {
    display: none;
  }

  .subtitle-backgr {
    min-height: 28px;
    margin-top: -16px;
  }

  .navbar-toggle {
    margin-top: 5px;
  }

  .dataset-description-area {
    display: block;
    clear: both;
  }

  .editor-current-step,
  .daviz-view-form {
    width: 100%;
    margin-left: 7px;
  }

  .editor-steps {
    margin-bottom: 5px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .navbar-toggle {
    display: inline-block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.in {
    display: block !important;
  }
}

@media (max-width: 768px) {
  #the-filters .right-label {
    text-align: right;
  }
}

@media (max-width: 720px) {
  .navigation-widget .container {
    max-width: 670px;
  }
}

@media (max-width: 640px) {
  .normalized-value {
    text-align: right;
  }

  .navigation-widget .container {
    max-width: 596px;
  }
}

@media (max-width: 600px) {
  .scoreboard-listing table td {
    padding-left: 8px;
  }

  .list_indicators,
  .list_indicators th,
  .list_indicators tr,
  .list_indicators td {
    padding: 4px;
  }

  .breadcrumbs li,
  .breadcrumbs li.first {
    padding-left: 15px;
  }
}

@media (max-width: 480px) {
  .navbar-header .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .portal-title {
    font-size: 16px;
    width: 180px;
    margin-left: 92px;
    top: -3px;
  }

  .portal-subtitle {
    padding-left: 100px;
    font-size: 13px;
  }

  .nav-tabs > li {
    width: 100%;
    border-top: 1px solid #DDD;
  }

  .nav-tabs > li > a {
    border-radius: 0;
  }

  body .nav-tabs > .active > a,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover {
    border: 0;
  }

  .slider-label {
    padding: 16px 0 10px;
  }

  .navigation-widget .container {
    width: 425px;
  }

  #footer ul li {
    float: none;
    display: block;
    margin: 10px 0;
  }
}

@media (max-width: 360px) {
  .navigation-widget .container {
    width: 310px;
  }

  #the-filters,
  .legend-share {
    width: 297px;
  }

  .col-md-6 select,
  .bottom-left select,
  .bottom-right select {
    width: 265px;
  }
}

@media (max-width: 320px) {
  .portal-title {
    width: 138px;
  }

  .navigation-widget .container {
    width: 290px;
  }

  #the-filters,
  .legend-share {
    width: 255px;
  }

  .col-md-6 select,
  .bottom-left select,
  .bottom-right select {
    width: 220px;
  }
}

.btn-sm, .btn-group-sm > .btn {
    line-height: 2;
    font-size: 14px;
}

.highcharts-tooltip span {
    height:auto;
    max-width:450px;
    min-width:300px;
    overflow:auto;
    white-space:normal !important;
    z-index: 9999;

/* old listing.css */
.scoreboard-listing .header-logo {
  width:15em;
  float:right;
  padding-top:1.775em;
  border-style: none;
}

.documentFirstHeading {
  font-size: 22px;
  margin-bottom: 15px;
}

.scoreboard-listing table,
.scoreboard-listing table td {
  border: none;
}

.scoreboard-listing .listing-footer {
  padding:1em;
  background-color:#E1F0F7;
  vertical-align:top;
}

.scoreboard-listing .listing-footer .footer-logo {
  width:8em;
  float:right;
  margin:0em 4em 0em 4em;
  border:0px;
}

.linklist,
#indicators-toc ul {
  list-style-type: square;
  color: #777;
}

.scoreboard-listing .scoreboard-visualizations-listing tr,
.scoreboard-datacubes-listing tr {
  display: block;
  padding-left: 0;
  padding-bottom: 12px;
}

.scoreboard-datacubes-listing tr {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  border-top: 1px solid #FFF;
}


.scoreboard-listing-item-enhanced .glyphicon-move {
  color: #555;
  display: inline-block;
  text-align: center;
  padding: 0.5em;
}


.need-top-margin {
  margin-top: 10px;
}

#scoreboard-visualizations-listing ul {
  padding-left: 20px;
  list-style-type: square;
}

.scoreboard-confirm-overlay {
  border-radius: 5px;
  box-shadow: 0px 0px 30px #000;
}

.scoreboard-confirm-overlay .ui-dialog-titlebar,
.scoreboard-facet-add-overlay .ui-dialog-titlebar {
  background-color: #fff;
  background-image: none;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.dataset-manage .nav.nav-tabs {
  border-bottom: 0;
}


.dataset-manage .nav-tabs > li > a:hover,
.dataset-manage .nav-tabs > li > a:focus,
.dataset-manage .nav-tabs > li.active > a,
.dataset-manage .nav-tabs > li.active > a:hover,
.dataset-manage .nav-tabs > li.active > a:focus {
  border-color: transparent;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.add-button-area {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.scoreboard-listing .label {
  display: inline;
}

table.listing {
  background: #FFF;
}


@media (max-width: 800px) {
  .linklist {
    padding-left: 20px;
  }
>>>>>>> 281b911d9629887e4d576e7b21d4928c838dc030
}
