/* GENERAL */
body {
  margin: 0 auto;
	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 13px;
  color: #333;
  background: #EBF6FC;
  background: -moz-linear-gradient(top, #ebf6fc 0%, #b3e0f7 100%);
  background: -webkit-linear-gradient(top, #EBF6FC 0%,#B3E0F7 100%);
  background: -o-linear-gradient(top, #ebf6fc 0%,#b3e0f7 100%);
  background: linear-gradient(to bottom, #EBF6FC 0%,#B3E0F7 100%);
}

ul {
  margin: 1em 0;
  padding-left: 40px;
}

a {
  color: #0073A8;
  text-decoration: none;
}

p {
  margin: 1em 0;
}

a:hover,
.breadcrumbs li a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin: 0.83em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.67em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.51em 0;
}

table, td, th, tr {
  padding: 4px 8px;
  border: 0;
  text-align: left;
}

table {
  border-bottom: 1px solid #D5D5D5;
}

thead th,
body .docsTable th {
  background: white;
  border: 0;
  border-bottom: 2px solid #999;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: normal;
}

.btn-inverse {
  color: #FFF;
  background-color: #363636;
  border-color: #222;
}

.btn-inverse:hover {
  color: #FFF;
  background-color: #222;
}

.layout {
  background: url("../images/bg_dashes.png");
}


/* HEADER */
#header {
  margin-top: 5px;
  background: #FFF;
}

.logo {
  width: 194px;
  border: 0px;
  padding-left: 22px;
  padding-top: 0px;
}

.portal-title {
  position: absolute;
  top: 55px;
  margin: 0;
  margin-left: 215px;
  border: 0;
  font-size: 22px;
  line-height: 1.2;
  color: #0065A2;
  text-transform: uppercase;
}

.portal-subtitle {
  color: #FFF;
  font-size: 15px;
  margin: -30px auto 0;
  padding: 4px 0px 10px 220px;
}

.navbar-header {
  float: none;
}

.subtitle-backgr {
  background-color: #0065A2;
  min-height: 45px;
  margin-top: -30px;
}

.path {
  background: #074A8B;
}

.navbar-toggle {
  background: #999;
  border: 0;
  margin-right: 0;
  margin-top: 25px;
}

.navbar-collapse {
  padding: 0;
}

.navbar-toggle .icon-bar {
  background: #FFF;
}

.breadcrumbs {
  margin: 0;
  padding-left: 22px;
}

.breadcrumbs li {
  list-style-type: none;
  background: url("../images/breadcrumb.gif") rgba(0, 0, 0, 0) left center no-repeat;
  padding: 0px 5px 0px 15px;
  display: inline-block;
  font-size: 11px;
  color: #FFF;
}

.breadcrumbs li.first {
  background-image: none;
  padding-left: 0;
}

.breadcrumbs li a {
  color: #FFF;
  text-decoration: none;
}


/* FOOTER */
#footer {
  margin-top: 5px;
  background: #E5E5E5;
  border-top: 4px solid #CDCDCD;
}

#footer .row {
  margin-right: 0;
  margin-left: 0;
}

#copyright {
  background: #E5E5E5;
  color: #808080;
}

#footer ul {
  padding-left: 0;
}

#footer ul li {
  list-style: none;
  float: left;
  margin-right: 12px;
}

#footer ul li a {
  color: #808080;
}


/* LOGIN */
#login_form,
#mail_password {
  background: #E1F0F7;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 3px;
}

#login_form label {
  display: inline-block;
  width: 100px;
  text-align: left;
  font-weight: normal;
}

#login_form .formControls {
  margin-left: 0;
  margin-bottom: 5px;
}

#__ac_name,
#__ac_password {
  width: 150px;
}

#login-forgotten-password {
  margin-bottom: 20px;
  margin-left: 10px;
}


/* Configure Visualization page */
.template-daviz-edit-html .portalMessage,
.daviz-settings ul.formTabs,
.editor-box h4 {
  display: none;
}

.daviz-edit-tabs .panes {
  border: none;
  padding: 0.5em;
}

.editor-steps {
  border-right: 0px;
  width: 220px;
  float: left;
}

.editor-steps ul {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  list-style: none;
}

.editor-steps li a {
  color: #074A8B;
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #E5E5E5;
}

.editor-steps li a:visited,
.editor-steps li a:hover {
  color: #074A8B;
  text-decoration: none;
}

.editor-steps li.current a,
.editor-steps li a:hover {
  background-color: #074A8B;
  color: #FFF;
}

.editor-steps .glyphicon-chevron-right {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("glyphicons-halflings.png");
  background-position: -456px -72px;
  background-repeat: no-repeat;
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  color: #999;
}

.editor-box h4,
.editor-current-step,
.daviz-view-form {
  margin-left: 240px;
}

.editor-current-step {
  overflow: hidden;
  background: #FFF;
  margin-bottom: 10px;
  padding: 10px;
  width: 66%;
  min-height: 333px;
}

.editor-current-step label {
  font-weight: normal;
}

.editor-charttype .chart-type-container {
  overflow: hidden;
}

.editor-charttype label.chart-type {
  display: inline-block;
  width: 192px;
  height: 192px;
  border: 1px solid #DDD;
  margin: 13px;
  padding: 18px 5px 5px 14px;
  float: left;
}

.editor-charttype .lines {
  background: #FFF url(../images/line.png) no-repeat 25px 55px;
}

.editor-charttype .columns {
  background: #FFF url(../images/column.png) no-repeat 25px 50px;
}

.editor-charttype .scatter {
  background: #FFF url(../images/scatter.png) no-repeat 23px 65px;
}

.editor-charttype .bubbles {
  background: #FFF url(../images/bubbles.png) no-repeat 23px 65px;
}

.editor-charttype .map {
  background: #FFF url(../images/map.png) no-repeat 25px 50px;
}

.daviz-settings .action-buttons {
  display: inline-block;
}

.editor-current-step label {
  font-size: 12px;
  color: #555;
  margin: 5px 0 2px 0;
  line-height: 16px;
  vertical-align: middle;
}

.editor-structure-multiple-series label,
.editor-structure-categories-by label {
  min-width: 169px;
}

.daviz-views-edit ul {
  margin-left: 5px;
}

.editor-current-step select,
.editor-facet-field input[type="text"] {
  width: 297px;
  height: 25px;
  font-size: 12px;
  color: #000;
  margin: 0 0 2px 0;
  vertical-align: middle;
}

.editor-current-step .checkbox,
.editor-current-step .checkbox label {
  padding-left: 0;
}

.editor-facet-field textarea,
.editor-facet-field div.select2-container {
  width: 100%;
}

.editor-current-step .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.editor-facet-field label,
.editor-annotations label {
  display: block;
}

#daviz-views-edit fieldset {
  margin-bottom: 20px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.editor-axes legend,
.editor-facet-name {
  width: auto;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
}

/* make editor-facets look like fieldsets */
.editor-current-step .editor-facets {
  padding: 0 1em 1em;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-bottom: 36px;
}

.editor-facet-name {
  margin-top: -16px;
  background: #FFF;
  display: inline-block;
}

.well-small {
  padding: 9px;
  margin-top: 10px;
}

.editor-axes input[type="text"] {
  height: 25px;
}

.editor-current-step input[type="text"],
.editor-current-step select,
.editor-current-step textarea {
  font-size: 12px;
}

.editor-series ul,
.editor-annotations ul {
  padding-left: 0;
  list-style-type: none;
}

.editor-format h5 {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.editor-annotations textarea {
  min-height: 100px;
  width: 100%;
}

.definitions-title {
  width: 100%;
}

.editor-advanced textarea {
  min-height: 300px;
  margin-bottom: 20px;
}

.daviz-view-form button {
/* Bootstrap button style for a non-editable button */
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #333;
  background-color: #FFF;
  border:1px solid  #CCC;
}

.daviz-view-form button:hover {
  color: #333;
  background-color: #E6E6E6;
  border-color: #ADADAD;
}

.btn-view-viz {
  margin-left: 10px;
}

.template-daviz-edit-html .collapse {
  position: initial; /* override from daviz-edit.css */
}


/* VISUALISATION filters */
#the-filters {
  color: #555;
  background: #E1F0F7;
  padding: 10px;
  max-width: 1140px;
}

.upper-filters,
.bottom-filters,
.footer-filters {
  max-width: 1140px;
}

.bottom-left {
  float: left;
  width: 470px;
  display: inline-block;
}

.bottom-right {
  float: right !important;
  width: 630px;
  display: inline-block;
}

.col-md-6 select,
.bottom-left select,
.bottom-right select {
  width: 320px;
}

#the-filters label {
  display: inline-block;
  width: 140px;
  color: #555;
  margin-bottom: 2px;
  vertical-align: top;
}

body .select2-container,
body #the-filters select,
body .select2-container-multi .select2-choices .select2-search-field input,
body .select2-drop.select2-drop-multi.select2-drop-active {
  font-family: 'Segoe UI', Verdana, Arial, sans-serif !important;
}

#ref-area-add-all,
#ref-area-clear {
  margin-top: 10px;
}

.chart-filter .select2-container {
  width: 80%;
}


/* Visualization legend and share */
.legend-share {
  margin-top: 5px;
  max-width: 1140px;
}

.legend {
  background-color: #EEE;
  margin-right: 10px;
  padding: 20px;
  border: 1px solid #DDD;
}

.section.share {
  background-color: #EEE;
  border: 1px solid #DDD;
}

.section.share ul,
.share dl {
  padding: 0;
}

.section.share ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.share .comment {
  margin-top: 0;
}

.share a {
  width: 96%;
}

.addthis_toolbox a {
  margin-bottom: 3px;
  width: 36px;
}

.btn-print {
  color: #FFF;
  background-color: #449D44;
  border-color: #398439;
  text-shadow: none;
}

.btn-print:hover {
  color: #FFF;
  background-color: #2A862A;
  border-color: #0A710A;
}

.btn-export {
  color: #FFF;
  background-color: #0065A2;
  border-color: #02578B;
  text-shadow: none;
}

.btn-export:hover {
  color: #FFF;
  background-color: #065A8C;
  border-color: #064267;
}

.btn-comments,
.btn-view-viz {
  color: #333;
  background-color: #BEE0F0;
  border-color: #99C1D2;
  text-shadow: none;
}

.btn-comments:hover,
.btn-view-viz:hover {
  color: #333;
  background-color: #94C5DB;
  border-color: #7CA8BB;
}


/* Visualization scenario navigation */
.navigation-widget {
  clear: both;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 10px;
}

.navigation-widget .container {
  max-width: 1140px;
}

.navigation-widget h4 {
  margin-bottom: 5px;
}

.navigation-widget div div {
  background: #E1F0F7;
  display: inline-block;
  min-height: 180px;
  border: 1px solid #FFF;
  vertical-align: top;
  text-align: center;
}

.navigation-widget .selected,
.navigation-widget div div div:hover {
  background: #C4E2F0;
}

.navigation-widget a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 10px 5px 15px;
}

.navigation_icon,
.scenario_icon {
  height: 85px;
  border: 1px solid #CCC;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.navigation-widget label {
  color: #333;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 5px;
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
}


/* LOADING effects */
.loading-small {
  background: url(../images/loading-bar.gif) no-repeat;
  background-position: 100px 1px;
}

#the-filters .loading-small {
  min-height: 19px;
  width: 400px;
}

#the-chart.loading-small {
  margin: 15px 0px;
  min-height: 50px;
}


/* Dataset page */
#dataset-metadata {
  padding: 1.4em;
  background-color: #E1F0F7;
  border-radius: 25px;
}

#dataset-metadata dd {
  margin-left: 40px;
}

#dataset-metadata dt {
  text-transform: capitalize;
}

#dataset-metadata dt:after {
  content: ":";
}

table .label {
  display: table-cell;
}

#dataset-dimensions,
#dataset-attributes,
#dataset-measures {
  width: 100%;
}

.template-datacube-view-html .label {
  padding: 4px 8px;
  color: #333;
  text-align: left;
  line-height: 1.4;
}

.template-datacube-view-html ul {
  list-style-type: disc;
}


/* DATASETS and documentation */
table.container {
  width: auto;
}

.list_indicators .even {
  background: #D7E9F8;
  background: rgba(215, 233, 248, 0.5);
}

.template-datacube-view-html h2 {
  margin-top: 25px;
  margin-bottom: 0px;
  color: #616161;
}

.template-datacube-view-html h2:first-of-type {
  margin-top: 0.67em;
}

.template-datacube-view-html table tr:nth-of-type(2n),
body .docsTable tr:nth-of-type(2n),
.list_indicators tr:nth-of-type(2n) {
  background: #EEE;
}

body .list_indicators .groupName {
  border: 0px;
  text-align: center;
  background: #FFF;
}

.list_indicators .groupName td {
  padding: 15px 0px;
  font-weight: bold;
  font-size: 16px;
}

#dataset-navigation h2 {
  margin: 0.67em 0;
  color: #000;
}

body .docsTable .odd {
  background: transparent;
  width: 25%;
}

body .docsTable .even {
  background: transparent;
  width: 50%;
}

body .docsTable td {
  border: 0;
}

.template-documentation h1 {
  text-align: left;
}

.docsTable {
  margin: 20px 0;
}

.docsTable .icon-pdf,
.docsTable .icon-doc,
.docsTable .icon-xls {
  background-position: 0px 0px;
  padding-left: 23px;
}

.docsTable .icon-pdf {
  background: url(../images/pdf.png) no-repeat;
}

.docsTable .icon-doc {
  background: url(../images/doc.png) no-repeat;
}

.docsTable .icon-xls {
  background: url(../images/xls.png) no-repeat;
}

.docsTable .icon-txt {
  background: url(../images/link_icon.gif) no-repeat;
  background-position: 0px 4px;
  padding-left: 23px;
}


/* Administration pages */
form[name="edit_form"] >.field {
  background: #F7F7F7;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
}

#extended_title,
form[name="edit_form"] #description {
  width: 98%;
}

button[title="close"] {
  padding: 0;
}

button[title="close"] .ui-button-text {
  display: none;
}

.ui-dialog .ui-dialog-title {
  width: 86%;
}

.ui-widget-content {
  border: 0;
}

.ui-dialog-buttonset .btn-inverse {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
}

.ui-dialog-buttonset .btn-inverse:hover {
  background: #C9302C;
  border-color: #AC2925;
}




/*  */
.nav {
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > .pull-right {
  float: right;
}

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list [class^="icon-"] {
  margin-right: 2px;
}

.nav-list .divider {
  width: 100%;
  height: 1px;
  margin: 8px 1px;
  margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  margin-right: 0;
}

.nav-tabs.nav-stacked {
  border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.nav-tabs.nav-stacked > li > a:hover {
  z-index: 2;
  border-color: #ddd;
}

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}

.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}

.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.nav > .dropdown.active > a:hover {
  color: #000000;
  cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
}

.tabs-stacked .open > a:hover {
  border-color: #999999;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: "";
}

.tabbable:after {
  clear: both;
}

.tab-content {
  overflow: auto;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  border-left-color: #ffffff;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  opacity: 0.3;
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown:hover .caret,
.open .caret {
  opacity: 1;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right-width: 2px;
  border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  width: 100%;
  height: 1px;
  margin: 8px 1px;
  margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}

#action-bar > .nav-tabs > li > a {
    padding: 0 5px;
    line-height:20px;
}

#action-bar > .nav-tabs {
    margin-left:0;
}

#action-bar .nav-tabs a.menu:after,
#action-bar .nav-tabs .dropdown-toggle:after {
    margin-top:8px;
}

#action-bar ul.dropdown-menu {
    min-width:150px;
}

#action-bar .dropdown-menu li a {
        display: block !important;
        line-height: 2em;
        padding: 0;
}

#action-bar .subMenuTitle {
    padding-left:5px;
}

#action-bar a {
  text-decoration: none;
}

#action-bar .arrowDownAlternative {
  display: none;
}

#edit-bar,
ul.formTabs,
ul.formTabs {
    display: block;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    margin-left: 0;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
li.formTab,
li.formTab {
    display: inline;
    margin-right:0.25em;
}
#content-views a,
li.formTab a,
li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}
#content-views a,
li.formTab a,
li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}
#content-views li.selected a,
li.formTab a.selected,
li.formTab a.selected {
    font-weight: bold;
}
#content-views li.selected a,
#content-views li a:hover,
li.formTab a.selected,
li.formTab a:hover,
li.formTab a.selected,
li.formTab a:hover {
    background: White;
    color: Black;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
li.formTab a.notify,
li.formTab a.notify {
    background-color: red;
    color: White;
}
li.formTab a.required span:after,
li.formTab a.required span:after,
div.field span.required:after {
    content: "■";
    color: Red;
    padding-left: 0.2em;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 18px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}


/* Custom */
.chart-tabs {
  display: none;
}

.daviz-views {
  width: 100%;
}

.actionMenuContent {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
}

.actionMenuContent ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actionMenuContent ul li {
  display: inline;
  margin-left: 1em;
}

.visualClear {
  clear: both;
}


/* mobile */
@media (max-width: 1200px) {
  .navigation-widget .container {
    max-width: 940px;
  }
}

@media (min-width: 1024px) {
  .navbar-collapse {
    margin-top: -5px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .navbar-toggle {
    display: inline-block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.in {
    display: block !important;
  }
}

@media (max-width: 800px) {
  .navigation-widget .container {
    max-width: 720px;
  }

  .breadcrumbs {
    background: #FFF;
    margin-top: 3px;
    padding-left: 0;
    border-top: 1px solid #999;
  }

  .breadcrumbs li,
  .breadcrumbs li.first {
    display: block;
    background-image: none;
    padding: 10px 10px 10px 20px;
    min-height: 30px;
    color: #333;
    border-bottom: 1px solid #999; /*#3D6489;*/
  }

  .breadcrumbs li:last-of-type,
  .breadcrumbs li:hover {
    background: #DDD;
  }

  .breadcrumbs li a {
    color: #0073A8;
  }

  .logo {
    padding-left: 0;
    width: 140px;
  }

  .portal-title {
    margin-left: 160px;
    width: 400px;
    top: 45px;
  }

  .portal-subtitle,
  .thumbnail-area {
    display: none;
  }

  .navbar-toggle {
    margin-top: 30px;
  }

  .dataset-description-area,
  .scoreboard-visualizations-listing td {
    display: block;
    clear: both;
  }
}

@media (max-width: 600px) {
  .scoreboard-listing table td {
    padding-left: 8px;
  }

  .list_indicators,
  .list_indicators th,
  .list_indicators tr,
  .list_indicators td {
    padding: 4px;
  }

  .portal-title {
    margin-left: 160px;
    width: 210px;
    top: 30px;
  }
}

@media (max-width: 480px) {
  .portal-title {
    margin-left: 160px;
    width: 210px;
    top: 20px;
  }

  .navbar-toggle {
    margin-top: 25px;
  }
}