﻿/* Removes certain elements when printing, and apply basic font styles
   for the remaining content. */
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 125%;
	page-break-inside: avoid;
	page-break-after: avoid;
}
h1, h2 {
	letter-spacing: -0.05em;
}
a {
	text-decoration: none;
}
#portal-column-content {
	width: 95%;
}
.documentDescription {
	font-weight: bold;
}
pre {
	border: 1pt dotted black;
	white-space: pre;
	font-size: 8pt;
	overflow: auto;
	padding: 1em;
}
table.listing,
table.listing td {
	border: 1pt solid black;
	border-collapse: collapse;
}
table.listing td,
table.listing th {
    padding: 6px;
}

/* Page break class for use when printing */
div.pageBreak {
	page-break-before: always;
}

/* Basic styles for listing and document views */
#content dt {
	margin:1em 0 0.625em;
}
#content p, #content table {
	margin-bottom:0.625em;
	margin-top:0.625em;
}
#content .documentDescription, #content #description {
    margin:0.5em 0 1.31em;
}

/* Uncomment these if you want link addresses inserted along with the link text
   when you print.*/
a:link:after {
   content: " [" attr(href) "] ";
}

.nav-tabs a:link:after,
#footer a:link:after,
.dataset-box a:link:after,
.template-indicators a:link:after,
.template-documentation a:link:after,
#the-filters a:link:after {
   content: none;
}


/* Hide all the elements that are irrelevant for printing */
div.top,
#portal-siteactions,
.hiddenStructure,
#portal-searchbox,
#portal-globalnav,
#portal-personaltools,
#portal-breadcrumbs,
#edit-bar,
#portal-column-one,
#portal-column-two,
#portal-languageselector,
.contentViews,
.contentActions,
.help,
.portalMessage,
.documentActions,
.netscape4,
#viewlet-below-content .reply,
#viewlet-below-content .discussion,
#kss-spinner,
#review-history,
#content-history,
.listingBar,
#portal-footer,
#portal-colophon,
.skipnav,
#kss-spinner,
#review-history,
#content-history,
.listingBar,
.link-presentation,
input.standalone,
.overlay,
.managePortletsFallback,
.close,
.link-parent,
.draggingHook,
#foldercontents-order-column,
input.context,
.visualNoPrint,
.footer-wrapper,
.navigation-widget,
.nav-tabs li:not([class="active"]) {
	display: none;
}

/* Image alignment classes */
.image-left {
	float: left;
	clear: both;
	margin: 0.5em 1em 0.5em 0;
	border: 0.4pt solid Black;
}
.image-inline {
	float: none;
}
.image-right {
	float: right;
	clear: both;
	margin: 0.5em;
	border: 0.4pt solid Black;
}
dd.image-caption {
	text-align:left;
	padding: 0; margin:0;
}
dl.captioned {
	padding: 0.8em;
}
.newsImageContainer {
	float:right;
	margin: 0 0 0.5em 1em;
	width: 16em;
}


/*  print stylesheet for scenario pages */
#header,
#the-navigation,
.layout-footer,
.section.share,
#ref-area-add-all,
#ref-area-clear,
body .select2-search-choice-close,
.chart-controls {
	display: none !important;
}

@page {
	orientation: portrait;
	size: A4; /*  CSS3 */
}

body {
	font-size: 12pt !important;
  background: white;
}

body * {
	float: none !important;
}

.right_column {
	vertical-align: top;
}

body .select2-choices li {
	display: inline-block;
}

body .legend {
	width: 90%;
}

body .legend h2 {
	color: #000;
}

#the-filters,
#the-chart {
	margin-bottom: 50px;
}

body .right_column .select2-container {
	width: 500px;
}


/* other */
body.template-datacube-view-html ul {
  list-style-type: none;
}

#footer {
  border: 0;
}

#copyright,
#dataset-metadata,
#the-filters,
body .select2-container-multi .select2-choices .select2-search-choice {
  background: white;
}

#dataset-metadata,
.legend-share {
  border: 1px solid #BBB;
}

#the-filters,
#the-chart,
.legend-share,
.boardConversation,
.template-conversation_browserview fieldset,
body .select2-container-multi .select2-choices .select2-search-choice {
  box-shadow: none;
}

#the-filters select {
  min-width: 500px;
}

body .select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: white;
}

.chart-filter .select2-container {
  width: 100%;
}


/* composite charts */
.slider-label {
  display: inline-block;
}

.ui-slider {
  display: inline-block;
}

.normalized-value {
  display: inline-block;
  text-align: right;
}