#scoreboard-visualizations-listing .header-logo {
    width:15em;
    float:right;
    padding-top:1.775em;
    border-style: none
}

#scoreboard-visualizations-listing h1 {
    float: left;
}

#scoreboard-visualizations-listing .listing-description {
    padding: 1em;
    background-color: #E1F0F7;
}

#scoreboard-visualizations-listing table,
#scoreboard-visualizations-listing table tr,
#scoreboard-visualizations-listing table td {
    border: none;
}

#scoreboard-visualizations-listing table td {
    vertical-align:top;
    padding-top:1em
}

#scoreboard-visualizations-listing .listing-footer {
    padding:1em;
    background-color:#E1F0F7;
    vertical-align:top;
}

#scoreboard-visualizations-listing .listing-footer .footer-logo {
    width:8em;
    float:right;
    margin:0em 4em 0em 4em;
    border:0px
}

