.scoreboard-listing .header-logo {
  width:15em;
  float:right;
  padding-top:1.775em;
  border-style: none;
}

.documentFirstHeading {
  font-size: 22px;
  margin-bottom: 15px;
}

.scoreboard-listing table,
.scoreboard-listing table td {
  border: none;
}

.scoreboard-listing table td {
  vertical-align: top;
  padding-top:1em;
  padding-left: 1.5em;
}

.scoreboard-listing .listing-footer {
  padding:1em;
  background-color:#E1F0F7;
  vertical-align:top;
}

.scoreboard-listing .listing-footer .footer-logo {
  width:8em;
  float:right;
  margin:0em 4em 0em 4em;
  border:0px;
}

.scoreboard-listing img {
  min-width: 221px;
  border: 1px solid #DDD;
  border-radius: 30px;
}

.linklist {
  list-style-type: square;
  color: #777;
}

.scoreboard-listing .scoreboard-visualizations-listing tr,
.scoreboard-datacubes-listing tr {
  display: block;
  padding-left: 0;
  padding-bottom: 12px;
}

.scoreboard-datacubes-listing tr {
  background: #DDD;
  border: 1px solid #DDD;
  border-bottom-color: #FFF;
}

.scoreboard-listing table tr:hover {
  background: #FFF;
  border-color: #DDD;
}

.scoreboard-listing .scoreboard-visualizations-listing tr {
  background: #EEE;
  border: 1px solid #EEE;
  border-bottom-color: #FFF;
}

.scoreboard-listing .scoreboard-visualizations-listing tr:hover {
  border-color: #DDD;
}

.scoreboard-listing-item-enhanced .glyphicon-move {
  color: #555;
  display: inline-block;
  text-align: center;
  padding: 0.5em;
}

.scoreboard-confirm-overlay {
  border-radius: 5px;
  box-shadow: 0px 0px 100px #000;
}

.scoreboard-confirm-overlay .ui-dialog-titlebar,
.scoreboard-facet-add-overlay .ui-dialog-titlebar {
  background-color: #fff;
  background-image: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.nav.nav-tabs {
  padding-left: 0;
}

.add-button-area {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.scoreboard-listing .label {
  display: inline;
}


@media (max-width: 480px) {
  .linklist {
    padding-left: 20px;
  }
}