{{#if has_selected_scenario}}
  <h2>To swap scenarios, click one of the icons:</h2>
{{else}}
  <h4>Scenarios for this dataset:</h4>
{{/if}}

<div class="container">
  <div class="row">
    {{#each scenarios}}
    <div class="{{#if selected }}selected {{/if}}col-md-2 col-sm-4 col-xs-6" id="{{ id }}">
      <a href="{{ url }}#{{ hashcfg }}" title="{{ title }}">
        <img src="{{ image }}" class="scenario_icon" alt="">
        <label>{{ title }}</label>
      </a>
    </div>
    {{/each}}
  </div>
</div>
